@font-face {
	font-family: 'KozGoPr6N-Regular';
	src: url('https://cdn.jsdelivr.net/gh/sierzpow/fonts/fonts/KozGoPr6N-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FrutigerLT-Light';
	src: url('https://cdn.jsdelivr.net/gh/sierzpow/fonts/fonts/FrutigerLT-Light.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Frutiger LT 45 Light'; 
	src: url('https://cdn.jsdelivr.net/gh/sierzpow/fonts/fonts/FrutigerLT45Light.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FrutigerLT-Roman';
	src: url('https://cdn.jsdelivr.net/gh/sierzpow/fonts/fonts/FrutigerLT-Roman.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Frutiger LT light';
	src: url('https://cdn.jsdelivr.net/gh/sierzpow/fonts/fonts/FrutigerLT-Light.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_FRABK';
	src: url('https://cdn.jsdelivr.net/gh/sierzpow/fonts/FRABK.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_FRABKIT';
	src: url('https://cdn.jsdelivr.net/gh/sierzpow/fonts/FRABKIT.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_FRABKIT';
	src: url('https://cdn.jsdelivr.net/gh/sierzpow/fonts/FRABKIT.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Franklin Gothic Demi Cond';
	src: url('https://cdn.jsdelivr.net/gh/sierzpow/fonts/FRADMCN.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Franklin Gothic Demi';
	src: url('https://cdn.jsdelivr.net/gh/sierzpow/fonts/FRADM.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
